
<div class="">
    <div class="youraddMain">
        <div class="col-md-12">
            <div class="row">  
                <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
                    <mat-tab label="SAVED">
                      
                    </mat-tab>
                    <mat-tab label="LOST"> Con </mat-tab>
                    <mat-tab label="FOUND"> Content 2 </mat-tab>
                    <mat-tab label="ALERT"> Content 3 </mat-tab>
                    <mat-tab label="INFORMATION"> Content 4</mat-tab>
                  </mat-tab-group>
                </div>
        </div>
    </div>
</div>

