<app-header></app-header>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="about-img">
                    <img src="./assets/images/img1.jpg" alt="" class="shape">
                    <img src="" alt="" class="man">
                </div>
            </div>
            <br>
            <div class="col-md-7 about-right">
                <h2 class=""><b>About Us</b></h2>
                <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia eaque architecto perspiciatis incidunt dicta saepe, assumenda nostrum voluptates ipsum. Quam excepturi officiis nisi sequi Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia eaque architecto perspiciatis incidunt dicta saepe, assumenda nostrum voluptates ipsum. Quam excepturi officiis nisi sequi evenie</p><br><br>
                <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat molestias voluptas id labore quis doloremque accusamus quas eius fuga. At libero iste perspiciatis, minima nisi neque possimus architecto dolorum dolores.</p>
                <h3 class="color-3 social-link-text">
                    <button class="btn btn-danger">Read Me</button>
                </h3>
                <ul class="about-link">
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-reddit-alien"></i></a></li>
                    <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                    <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>