<div class="productList">
    <div class="addsProfile">
        <a href="/add-details">
           <div class="addProfileHeader">
                <div class="row">
                    <div class="col-md-1">
                        <div class="profileImage">
                            <img src="./assets/images/img1.jpg"> 
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="profileName">
                            <h5>{{postObj.user_name}}</h5>
                            <p>{{postObj.post_time}} | {{postObj.city_id}}</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="profileFollow">
                            <button>follow</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="addProfileBody">
                            <img src="./assets/images/loptop.jpg">
                            <span>{{postObj.post_status}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="addProfileFooter">
                            <p>{{postObj.category}}</p>
                        </div>
                       
                    </div>
                </div>
           </div>     
        </a>
    </div>
</div>