<div class="addDetailsMain">
    <div class="addDeatilasHeader">
        <div class="row">
            <div class="col-md-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus iste facilis excepturi id, totam at quia possimus corrupti nam hic placeat dolorem, laudantium dolor est libero? Quod nemo ab harum.

            </div>
        
        
            <div class="col-md-7">
                <div class="addDetailsMiddle">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="addDetailsImage">
                                <img src="./assets/images/loptop.jpg">
                            </div>
                            <p>srikant k | 3 weeks ago</p>
                        </div>
                    </div>

                    <h4>Description</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quo quae culpa iure? Voluptatibus provident distinctio fuga. Incidunt itaque, laudantium omnis eaque praesentium eum veniam esse ex minima consequatur quis!</p>
                    <h4>Details</h4>
                        <p>Brand Name:</p>
                        <p>Model:</p>
                        <p>IMEL Number:</p>
                    <h4>User GuideLines</h4>
                    <ul>
                        <li>Be wary of fake photos or Clone posts</li>
                        <li>If you lost/found any valuble things contact near by police station</li>
                        <li>Check and verify the person's id before retunng the Found item or take a selfie with that person for future  reference.</li>
                    </ul>
                    <h4>Contact Details</h4>

                </div>
            </div>
        
        
            <div class="col-md-2">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque, perspiciatis eaque similique dolore excepturi laudantium reprehenderit, modi unde quo molestias suscipit nostrum nam. Adipisci, voluptates? Necessitatibus eveniet temporibus sequi nam?
            </div>
    
    </div>
</div>
</div>


