


<router-outlet></router-outlet>

<div style="text-align:center">
    <h2>
        list from local json file...
    </h2>
    <!-- <ul *ngFor="let item of postList">
       <li>
          <h3>post id: {{item.post_id}},user id:{{item.posted_user_id}},category:{{item.category}},city:{{item.city}},user name:{{item.user_name}},user image:{{item.user_image}},mobile number:{{item.mobile_number}},
            ,post image1 :{{item.post_image}},post image1 :{{item.post_image1}},post image2 :{{item.post_image2}}
            ,post time:{{item.post_time}},post state:{{item.post_state}},post status:{{item.post_status}},city id:{{item.city_id}},category id:{{item.category_id}},is follow:{{item.is_follow}}
          </h3>
       </li>
    </ul> -->
</div>
