<div class="home-main">
    <div class="row">
        <div class="col-md-12 nopadding">
            <app-header></app-header>
        </div>
</div>
<div class="home-body">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="advertisement">
                    <p>advertisement</p>
                   <!----<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>-->
                </div>
            </div>
            <div class="col-md-8">
                <div class="main-home-content">
                    <div class="category">
                        <form class="form-inline">
                            <div class="form-group">
                                <select class="form-control">
                                    <option>All Category</option>
                                    <option>Mobile</option>
                                    <option>Hall Ticket</option>
                                    <option>Laptop</option>
                                    <option>Certificate</option>
                                    <option>ID Card</option>
                                    <option>Document</option>
                                    <option>Wallet</option>
                                    <option>BAG</option>
                                    <option>Others</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option>All </option>
                                    <option>Lost</option>
                                    <option>Found</option>
                                    <option>Alert</option>
                                    <option>Information</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary" style="background-color: #10537e; width:100px;font-weight: bold;">Apply</button>
                        </form>
                    </div>
                    <div class="main-add">
                        <ad-component [postObj]='post'></ad-component>
                    </div>
                   
                </div>
            </div>
            <div class="col-md-2">
                <div class="advertisement">
                    <p>advertisement</p>
                    <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>-->
                </div>
            </div>
        </div>
    </div>
</div>

                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <!--<div *ngFor="let post of postList">
                        <ad-component [postObj]='post'></ad-component>
                    </div>
                    <!-- <div class="product-list">
                        <div class="row">
                            <div class="col-md-3 nopadding">
                                <div class="product-image">
                                    <div class="product-image-box">
                                        <img src="./assets/images/phone.jpg">
                                    </div>
                                    <div class="product-image-view">
                                        <a><i class="fa fa-expand"></i></a>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 nopadding">
                                <div class="product-details">
                                    <div class="product-details-header">
                                        <div class="row">
                                            <h4>Product Type : <span>Mobile</span></h4>
                                            <h3>Product Code : <span>MOB001</span></h3>
                                            <p>Found</p>
                                        </div>
                                    </div>
                                <hr>
                                    <div class="product-details-body">
                                        <table>
                                            <tr>
                                                <td><strong>Brand Name</strong></td><td>:</td><td><small>DELL</small></td>
                                                <td><strong>Model Name</strong></td><td>:</td><td><small>ghy67844</small></td>
                                                <td><strong>IMEl Number</strong></td><td>:</td><td><small>DELL123</small></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Location</strong></td><td>:</td><td><small>Hyderabad</small></td>
                                               
                                                <td><strong>Aging</strong></td><td>:</td><td><small>1 week ago</small></td>
                                            </tr>
                                        </table>
                                        <div class="product-details-description">
                                            <h6>Description</h6>
                                            <p>lost my laptop one week Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, itaque illo qui impedit perferendis eiusDoloremque sunt cupiditate incidunt mollitia .</p>
                                        </div>
                                    
                                    </div>
                                    <div class="product-details-footer">
                                        <div class="row">
                                            <p style="padding: 1px 4px;background-color: #10537e;color: #fff; margin-right: 28%;">User Gudlines</p>
                                            <p style="padding: 3px 10px;background-color: #10537e;color: #fff; text-align:right;margin-left: 38%;">Call</p>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-list">
                        <div class="row">
                            <div class="col-md-3 nopadding">
                                <div class="product-image">
                                    <div class="product-image-box">
                                        <img src="./assets/images/wallet.jpg">
                                    </div>
                                    <div class="product-image-view">
                                        <a><i class="fa fa-expand"></i></a>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 nopadding">
                                <div class="product-details">
                                    <div class="product-details-header">
                                        <div class="row">
                                            <h4>Product Type : <span>Wallet</span></h4>
                                            <h3>Product Code : <span>MOB001</span></h3>
                                            <p>Lost</p>
                                        </div>
                                    </div>
                                <hr>
                                    <div class="product-details-body">
                                        <table>
                                            <tr>
                                                <td><strong>Wallet Brand</strong></td><td>:</td><td><small>DELL</small></td>
                                                <td><strong>Wallet Color</strong></td><td>:</td><td><small>ghy67844</small></td>
                                                
                                            </tr>
                                            <tr>
                                                <td><strong>Location</strong></td><td>:</td><td><small>Hyderabad</small></td>
                                               
                                                <td><strong>Aging</strong></td><td>:</td><td><small>1 week ago</small></td>
                                            </tr>
                                        </table>
                                        <div class="product-details-description">
                                            <h6>Description</h6>
                                            <p>lost my laptop one week Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, itaque illo qui impedit perferendis eiusDoloremque sunt cupiditate incidunt mollitia .</p>
                                        </div>
                                    
                                    </div>
                                    <div class="product-details-footer">
                                        <div class="row">
                                            <p style="padding: 1px 4px;background-color: #10537e;color: #fff; margin-right: 28%;">User Gudlines</p>
                                            <p style="padding: 3px 10px;background-color: #10537e;color: #fff; text-align:right;margin-left: 38%;">Call</p>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-list">
                        <div class="row">
                            <div class="col-md-3 nopadding">
                                <div class="product-image">
                                    <div class="product-image-box">
                                        <img src="./assets/images/person.jpg">
                                    </div>
                                    <div class="product-image-view">
                                        <a><i class="fa fa-expand"></i></a>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 nopadding">
                                <div class="product-details">
                                    <div class="product-details-header">
                                        <div class="row">
                                            <h4>Product Type : <span>Person</span></h4>
                                            <h3>Product Code : <span>MOB001</span></h3>
                                            <p>Found</p>
                                        </div>
                                    </div>
                                <hr>
                                    <div class="product-details-body">
                                        <table>
                                            <tr>
                                                <td><strong>Name The Person</strong></td><td>:</td><td><small>DELL</small></td>
                                                <td><strong>Age</strong></td><td>:</td><td><small>ghy67844</small></td>
                                               
                                            </tr>
                                            <tr>
                                                <td><strong>Location</strong></td><td>:</td><td><small>Hyderabad</small></td>
                                               
                                                <td><strong>Aging</strong></td><td>:</td><td><small>1 week ago</small></td>
                                            </tr>
                                        </table>
                                        <div class="product-details-description">
                                            <h6>Description</h6>
                                            <p>lost my laptop one week Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, itaque illo qui impedit perferendis eiusDoloremque sunt cupiditate incidunt mollitia .</p>
                                        </div>
                                    
                                    </div>
                                    <div class="product-details-footer">
                                        <div class="row">
                                            <p style="padding: 1px 4px;background-color: #10537e;color: #fff; margin-right: 28%;">User Gudlines</p>
                                            <p style="padding: 3px 10px;background-color: #10537e;color: #fff; text-align:right;margin-left: 38%;">Call</p>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-list">
                        <div class="row">
                            <div class="col-md-3 nopadding">
                                <div class="product-image">
                                    <div class="product-image-box">
                                        <img src="./assets/images/bag.jpg">
                                    </div>
                                    <div class="product-image-view">
                                        <a><i class="fa fa-expand"></i></a>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 nopadding">
                                <div class="product-details">
                                    <div class="product-details-header">
                                        <div class="row">
                                            <h4>Product Type : <span>Bag</span></h4>
                                            <h3>Product Code : <span>MOB001</span></h3>
                                            <p>Lost</p>
                                        </div>
                                    </div>
                                <hr>
                                    <div class="product-details-body">
                                        <table>
                                            <tr>
                                                <td><strong>Select bag Type</strong></td><td>:</td><td><small>DELL</small></td>
                                                <td><strong>Bag Color</strong></td><td>:</td><td><small>ghy67844</small></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Location</strong></td><td>:</td><td><small>Hyderabad</small></td>
                                               
                                                <td><strong>Aging</strong></td><td>:</td><td><small>1 week ago</small></td>
                                            </tr>
                                        </table>
                                        <div class="product-details-description">
                                            <h6>Description</h6>
                                            <p>lost my laptop one week Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur, itaque illo qui impedit perferendis eiusDoloremque sunt cupiditate incidunt mollitia .</p>
                                        </div>
                                    
                                    </div>
                                    <div class="product-details-footer">
                                        <div class="row">
                                            <p style="padding: 1px 4px;background-color: #10537e;color: #fff; margin-right: 31%;">User Gudlines</p>
                                            <p style="padding: 3px 10px;background-color: #10537e;color: #fff; text-align:right;margin-left: 38%;">Call</p>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->


    <div class="row">
        <div class="col-md-12 nopadding">
            <app-footer></app-footer>
        </div>
     </div>
     <div class="row nopadding">
     <div class="col-md-12 nopadding">
            <app-copyright></app-copyright>
        </div>
    </div>
</div>
