<div class="home-main">
    <div class="row">
        <div class="col-md-12 nopadding">
            <app-header></app-header>
        </div>
</div>
<div class="home-body">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="advertisement">
                    <p>advertisement</p>
                   <!----<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>-->
                </div>
            </div>
            <div class="col-md-8">
                <div class="main-home-content">
                    <div class="category">
                        <form class="form-inline">
                            <div class="form-group">
                                <select class="form-control">
                                    <option>All Category</option>
                                    <option>Mobile</option>
                                    <option>Hall Ticket</option>
                                    <option>Laptop</option>
                                    <option>Certificate</option>
                                    <option>ID Card</option>
                                    <option>Document</option>
                                    <option>Wallet</option>
                                    <option>BAG</option>
                                    <option>Others</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option>All </option>
                                    <option>Lost</option>
                                    <option>Found</option>
                                    <option>Alert</option>
                                    <option>Information</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary" style="background-color: #10537e; width:100px;font-weight: bold;">Apply</button>
                        </form>
                    </div>
                    <div class="main-add">
                         <div *ngFor="let post of postList">
                            <ad-component [postObj]='post'></ad-component>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-md-2">
                <div class="advertisement">
                    <p>advertisement</p>
                    <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>-->
                </div>
            </div>
        </div>
    </div>
</div>

                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    <!--<div *ngFor="let post of postList">
                        <ad-component [postObj]='post'></ad-component>
                    </div>-->
    
    <div class="row">
        <div class="col-md-12 nopadding">
            <app-footer></app-footer>
        </div>
     </div>
     <div class="row nopadding">
     <div class="col-md-12 nopadding">
            <app-copyright></app-copyright>
        </div>
    </div>
</div>
